$base-color: #D80035;

.product-card{
  list-style-type: none;
  display: inline-block;
  width: 280px;
  height: 360px;
  padding: 15px 5px;
}

.product-card__image{
  background: image_url("product-card-image") center center;
  background-size: contain;
  height: 220px;
  width: 100%;
  position: relative;
}

.product-card__infos{
  font-size: 12px;
}

.product-card__tags{
  font-size: 10px;
  font-weight: bolder;
  .new-tag{
    color: #DE2452;
  }
}

.product-card__infos p{
  margin-bottom: 1px;
}

.product-card__info-category{
  text-transform: uppercase;
  font-weight: bolder;
}

.product-card__info-price .price-detail{
  margin-right: 5px;
}

.product-card__info-stars .fa-star{
  color: $base-color;
}

.product-card__info-stars .fa-star.fa-star--empty{
  color: #CBCBCB;
}

.product-card__info-stars .fa-star, .product-card__info-stars .fa-star-o{
  margin-right: 3px;
}

.product-card__add-to-bag-button{
  width: 100%;
  height: 30px;
  color: white;
  font-weight: bolder;
  position: absolute;
  bottom: 0px;
  display: none;
  background: $base-color;
  border: 0;
  box-shadow:none;
  border-radius: 0px;
}

.product-card__wishlink-button{
  position: absolute;
  bottom: 5px;
  right: 15%;

  .fa-heart-o{
    color: black;
  }

  .fa-heart{
    color: $base-color;
  }

  @include breakpoint(md){
    display:  none;
    top: 0px;
    right: 10px;
  }
}

.product-card__waitlist-button{
  width: 100%;
  height: 30px;
  color: white;
  font-weight: bolder;
  position: absolute;
  bottom: 0px;
  background: black;
  border: 0;
  box-shadow:none;
  border-radius: 0px;
  display: none;
}

.product-card__waitlist-button--done{
  background: #F1F1F1;
  color: #A9A9A9;
}

.product-card__oos-label{
  width: 100%;
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.53);
  top: 100px;
  color: #666666;
}

.product-card:hover{
  @include breakpoint(md){
    .product-card__waitlist-button,
    .product-card__wishlink-button,
    .product-card__add-to-bag-button{
      display: block;
    }
  }
}
