.product-list--container{
  width: auto;
  max-width: 1200px;
  margin: auto;

  .loader{
    margin-top: 130px;
  }
}

.product-list__pagination-container{
  margin-top: 10px;
  text-align: center;
  .rc-pagination{
    display: inline-block;
  }
}

ul.product-list{
  margin: 0px;
  padding-left: 0px;
  width: 280px;
  margin: auto;

  @include breakpoint(sm){
    width: 560px;
  }

  @include breakpoint(md){
    width: 840px;
  }
}

.product-list__empty-label{
  text-align: center;
  margin-top: 80px;
}

.product-list__loader-container{
  text-align: right;
  position: relative;
  margin-bottom: 50px 0px 50px 0px;
  float: right;

  .loader{
    left: 0px;
    right: 0px;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    position: relative !important;
  }
}

.product-list__link-to-top{
  margin: auto;
  display: block;
  text-align: center;

  @include breakpoint(sm){
    display: none;
  }
}
